body{
    background-color: #131720;
    font-family: sans-serif;
}

.frame{
    background-color: #343d4d;
    border-radius: 15px;
    justify-content: center;
    width: 650px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    padding-top: 5px;
    padding-bottom: 10px;
}

#title{
    color: rgb(189, 189, 189);
    text-align: center;
    margin-top: 2vh;
}

#apply, #authentication{
    background-color:#151f30 ;
    color: white;
    width: 300px;
    height: 30px;
    border-radius: 11px;
    align-items: center;
    border-style: none;
    text-decoration: none;
    margin: 5px;
}

#apply:hover, #authentication:hover{
    background-color: #131720 ;
    color: white;
}

#entrada, #entrada2{
    background-color: white;
    color: black;
    width: 295px;
    height: 25px;
    border-radius: 11px;
    align-items: center;
    border-style: none;
    text-decoration: none;
    margin: 5px;
}
