<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>
<body>
    <div id='frame'>
        <h1 id='title'>Login</h1>
        <form id='form' method="POST">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <br>
            <button id='form_button' type="submit">Login</button>
        </form>
        <form id='form'>
            <a id='form_button' href="{% url 'register' %}" name='link'>Not registered?</a>
        </form>
        {% if error %}
            <p style="color:red;">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>