<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Candidacy page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    {% include "info/header.html"%}

    <div class="main-container">
        {% include "info/sidebar.html"%}

        <div class="content">
            {% include "info/info.html"%}
           <div class='form'>
              <h2>Authentication</h2>  
              {% include "forms/applying_form.html" %}
          </div>
      </div>
    </div>
</body>
</html>