<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Voting page</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="logo">
            <h1 class="title">Voting page</h1>
        </div>
        <div class="user-info">
            <h3>Welcome, {{ username }}</h3>
            <button class="logout-btn" onclick="window.location.href='{% url 'logout' %}'">Logout</button>
        </div>
    </div>

    <div class="main-container">
        <div class="sidebar">
            <button onclick="window.location.href='{% url 'homepage' %}'">
                <i class="fas fa-home"></i> Homepage
            </button>
            <button onclick="window.location.href='{% url 'authenticate' %}'">
                <i class="fas fa-user-check"></i> Authenticate
            </button>
            <button onclick="window.location.href='{% url 'apply' %}'">
                <i class="fas fa-file-signature"></i> Apply for an Office
            </button>
            <div class="separator"></div>
            <button onclick="window.location.href='{% url 'commit' %}'">
                <i class="fas fa-code-branch"></i> See Commits
            </button>
            <button onclick="window.location.href='{% url 'voting' %}'">
                <i class="fas fa-vote-yea"></i> Vote
            </button>
            <button onclick="window.location.href='{% url 'logout' %}'">
                <i class="fas fa-sign-out-alt"></i> Logout
            </button>
        </div>

        <div class="content">

            <div class="info-section">
                <h2>Informations</h2>
                <div class="info-item">
                    <h3>Name:</h3>
                    <p>{{ username }}</p>
                </div>
                <div class="info-item">
                    <h3>CPF:</h3>
                    <p>{{ cpf }}</p>
                </div>
            </div>

            {% for electionid, offices in elections.items %}
            <div class="election">
                <h2>Election: {{ electionid }}</h2>
                <form method="POST" action="{% url 'voting_submit' %}">
                    {% csrf_token %}
                    <input type="hidden" name="electionid" value="{{ electionid }}">
                    {% for office_name, candidates in offices.items %}
                    <div class="office">
                        <h3>Office: {{ office_name }}</h3>
                        {% for candidate in candidates %}
                            <div>
                                <input type="radio" name="office-{{ office_name }}" id="candidate-{{ candidate.campaignid }}" value="{{ candidate.campaignid }}">
                                <label for="candidate-{{ candidate.campaignid }}">
                                    {{ candidate.campaignid }} - {{ candidate.name }} (CPF: {{ candidate.cpf }})
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="form_button">Enviar</button>
                </form>
            </div>
            {% endfor %}

        </div>
    </div>
</body>
</html>
