<form method="POST" action="{% url 'apply' %}">
    {% csrf_token %}
    <input type="hidden" name="form_type" value="apply">
    <h3>Select the Election</h3>
    <select name='electionid' required>
        <option value='' disabled selected>Select one election</option>
        {% for election in elections %}
        <option value= {{election.electionid}} >{{ election.description }}</option>
        {% endfor %}
    </select>
    <h3>Select the Office</h3>
    <select>
        <option value='' disabled selected>Select one office</option>
        {% for office in offices %}
        <option value= {{office.office_name}}>{{ office.office_name }}</option>
        {% endfor %}
    </select>
    <h3>Password</h3>
    <input name="password" type="Password" >
    <button type='submit' class='form_button'>Submit</button>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        $('#id_applyElection').change(function() {
            var electionId = $(this).val();
            $.ajax({
                url: "{% url 'ajax_load_offices' %}",
                data: {
                    'election_id': electionId
                },
                success: function(data) {
                    var officeSelect = $('#id_office');
                    officeSelect.empty();
                    officeSelect.append('<option value="" disabled>Selecione o cargo</option>');
                    $.each(data, function(index, item) {
                        console.log(item[1])
                        console.log(item[2])
                        officeSelect.append(new Option(item[1], item[1]));
                    });
                }
            });
        });
    });
</script>